@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: black;
  color: white;
}

button {
  background-color: var(--button-bg, lightgray);
}

body.dark button {
  --button-bg: darkgray;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
